<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-right: 48px;">
      <ion-img style="height: 40px;" src="assets/icon/LOGO_.svg"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="element">
    <div class="label-element">¿Que sintomas presentas?</div>
    <div class="list-symptoms">
      <div class="symptom-item" *ngFor="let symptom of apiService.symptoms">
        <div class="check-symptom">
          <ion-checkbox [(ngModel)]="symptom.isChecked"></ion-checkbox>
        </div>
        <div class="label-symptom" (click)="symptom.isChecked = !symptom.isChecked">
          {{symptom.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="element">
    <div class="label-element">¿Hace cuanto comenzaste a sentirte asi?</div>
    <div class="input-element">
      <input type="number" [(ngModel)]="sick_days">
      <div class="input-right-label">
        Días
      </div>
    </div>
  </div>
  <div class="element">
    <div class="label-element">¿Donde estas actualmente?</div>
    <div class="input-element-default">
      <input type="text" placeholder="Escribir direccion exacata" [(ngModel)]="address">
    </div>
    <div class="location" (click)="useCurrentLocation()">
      <div class="icon">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <div class="text">
        Usar mi ubicacion actual
      </div>
    </div>
  </div>
  <div class="element" style="margin-bottom: 20px;">
    <div class="label-element">¿Con quien has estado?</div>
    <div class="option-element">
        <div class="radio-list">
          <div class="radio-item" *ngFor="let who of who_been_list">
            <div class="radio-label" (click)="who.isChecked = !who.isChecked">{{who.name}}</div>
            <div class="radio-value">
              <ion-checkbox [(ngModel)]="who.isChecked"></ion-checkbox>
            </div>
          </div>          
        </div>
    </div>
  </div>
  <div class="btn-continue" (click)="save()">
    <button>Continuar</button>
  </div>
</ion-content>
