<ion-content>
  <ion-img style="height: 40px;margin-top: 20px;" src="assets/icon/LOGO_.svg"></ion-img>
  <div class="form-container">
    <div class="label-top-text">
      Al llenar la siguiente información estarás ayudando a profesionales 
      que trabajan para controlar el COVID-19, 
      y puedes llevar control de tu estado de salud y la de tu comunidad.
    </div>
    <div class="element">
      <div class="title-element">
        Nombre completo y apellido
      </div>
      <div class="subtitle-element">
        (Como aparece en su número de identidad)
      </div>
      <div class="input-container {{validName}}">
        <input type="text" [(ngModel)]="userData.name" (input)="validateName()">
      </div>
    </div>
    <div class="element">
      <div class="title-element">
        Número de identidad
      </div>
      <div class="input-container {{validIdentity}} identity">
        <input type="text" maxlength="4" pattern="[0-9]*" [(ngModel)]="userData.identityOne" #identityOne placeholder="0101" (input)="validateIdentityOne()">
        <input type="text" maxlength="4" pattern="[0-9]*"  [(ngModel)]="userData.identityTwo" #identityTwo placeholder="1980" (input)="validateIdentityTwo()">
        <input type="text" maxlength="5" pattern="[0-9]*" [(ngModel)]="userData.identityThree" #identityThree placeholder="12345" (input)="validateIdentityThree()">
      </div>
    </div>
    <div class="element">
      <div class="title-element">
        Género con que se identifica
      </div>
      <div class="input-container">
        <div class="option-list">
          <div class="option-element" (click)="userData.gender = 'female'">
            <div class="option-input">
              <input checked="checked" type="radio" id="female" name="gender" value="female">
            </div>
            <div class="option-text">
              <label for="female">Femenino</label>
            </div>
          </div>
          <div class="option-element" (click)="userData.gender = 'male'">
            <div class="option-input">
              <input type="radio" id="male" name="gender" value="male">
            </div>
            <div class="option-text">
              <label for="male">Masculino</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="element">
      <div class="title-element">
        Número de celular
      </div>
      <div class="input-container {{validPhone}}">
        <input type="tel" maxlength="8" [(ngModel)]="userData.phone" (input)="validatePhone()" placeholder="Ej. 99009900">
      </div>
    </div>
    <div class="element">
      <div class="title-element">
        Fecha de nacimiento
      </div>
      <div class="input-container">
        <div class="date-container">
          <ion-datetime [(ngModel)]="userData.birthDate" name="birthDate" value="2000-01-01T15:43:40.394Z" display-timezone="utc">
            
          </ion-datetime>
        </div>
      </div>
    </div>
    <div class="element">
      <div class="title-element">
        ¿Donde estas actualmente?
      </div>
      <div class="input-container {{validAddress}}">
        <input type="text" [(ngModel)]="userData.address" (input)="validateAddress()" placeholder="Ej. Colonia casa calle">
      </div>
      <div class="map-selection">
        <div class="map-pin">
          <ion-img src="assets/images/pin_map.svg"></ion-img>
        </div>
        <div class="text">
          Indicar en el mapa
        </div>
      </div>
    </div>
    <div class="btn-container {{btnEnabled()}}" (click)="processForm()">
      <div class="btn">
        REGISTRARSE
      </div>
    </div>
  </div>
</ion-content>
