ion-slides{
    height: 100%;
    .skip{
        position: fixed;
        top: 10px;
        right: 20px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 163.2%;
        /* or 24px */

        text-align: justify;
        letter-spacing: -0.47px;

        color: #737070;
    }
}

.slide-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .title-container{
        margin: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text{
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.47px;
            text-align: left;
            color: #333333;
        }
        .icons{
            width: 64px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: -0.47px;

            color: #000000;

        }
    }
    .description{
        margin-left: 48px;
        margin-right: 48px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 163.2%;
        /* or 24px */

        text-align: justify;
        letter-spacing: -0.47px;

        color: #000000;

    }
}


.btn-container-login{
    border: 1px solid #00B1FA;
    border-radius: 30px;
    height: 49px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: 40px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #00B1FA;
    .btn{
        width: 100%;
        text-align: center;
    }
}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');