<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <div class="skip" routerLink="/login">
        Saltar
      </div>
      <div class="slide-container">
        <div class="image">
          <img src="assets/images/onboarding_one.png" alt="onboarding_one">
        </div>
        <div class="title-container">
          <div class="text">Ayuda a prevenir el contagio</div>
          <div class="icons">🌎📍</div>
        </div>
        <div class="description">
          Mira en tiempo real cual es el status de los que te rodean en relación al COVID-19. 
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="skip" routerLink="/login">
        Saltar
      </div>
      <div class="slide-container">
        <div class="image">
          <img src="assets/images/onboarding_two.png" alt="onboarding_one">
        </div>
        <div class="title-container" style="align-items: flex-start;">
          <div class="text">Tu información esta en las mejores manos</div>
          <div class="icons" style="min-width: 45px;">🔑🔒</div>
        </div>
        <div class="description">
          Tu información es privada no compartiremos tu data si no lo deseas. 
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-container">
        <div class="image">
          <img src="assets/images/onboarding_three.png" alt="onboarding_one">
        </div>
        <div class="title-container" style="align-items: flex-end;">
          <div class="text">Hecha por la comunidad para la comunidad</div>
          <div class="icons" style="width: 0px;">🇭🇳</div>
        </div>
        <div class="description">
          Somos un grupo de expertos y empresas que desea  ayudar y dar información a la población sobre el status del COVID-19.
        </div>
        <div class="btn-container-login" routerLink="/login">
          <div class="btn">
            SI  QUIERO AYUDAR !
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
