<ion-content>
    <h5><b>Cuentanos como has estado</b></h5>
    <ion-item  button (click)="testClick()">
        <ion-avatar slot="start">
          <img src="assets/images/fine_user.png">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h1>Estoy bien</h1>
            </ion-text>
            <ion-text>
              <h3>Sin nignun sintoma</h3>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item  button (click)="testClick()">
        <ion-avatar slot="start">
          <img src="assets/images/fine_user.png">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h1>Tengo sintomas</h1>
            </ion-text>
            <ion-text>
              <h3>Con fiebre, fatiga, etc</h3>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item  button (click)="testClick()">
        <ion-avatar slot="start">
          <img src="assets/images/fine_user.png">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h1>Estoy Infectado</h1>
            </ion-text>
            <ion-text>
              <h3>Fui testeado positivo</h3>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item  button (click)="testClick()">
        <ion-avatar slot="start">
          <img src="assets/images/fine_user.png">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h1>Me recupere</h1>
            </ion-text>
            <ion-text>
              <h3>Ya fui tratado</h3>
            </ion-text>
        </ion-label>
    </ion-item>
</ion-content>
