<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button routerLink="/map" routerDirection="backward">
              <ion-icon slot="icon-only" name="map-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          <ion-img style="height: 40px;" src="assets/icon/LOGO_.svg"></ion-img>
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
  <div class="subtitle">
      <h5><b>Cuentanos como has estado</b></h5>
  </div>
  <div class="status-element blue" button (click)="setStatus('fine','/map')">
    <div class="image">
      <img src="assets/images/fine_user.png">
    </div>
    <div class="text-element">
      <div class="title">
        Estoy bien
      </div>
      <div class="subtitle">
        Sin ningun sintoma
      </div>
    </div>
  </div>
  <div class="status-element yellow" button (click)="setStatus('symptoms','/symptoms')">
    <div class="image">
      <img src="assets/images/symptoms.png">
    </div>
    <div class="text-element">
      <div class="title">
        Tengo sintomas
      </div>
      <div class="subtitle">
        Con fiebre, fatiga, etc
      </div>
    </div>
  </div>
  <div class="status-element red" button (click)="setStatus('infected','/map')">
    <div class="image">
      <img src="assets/images/infected.png">
    </div>
    <div class="text-element">
      <div class="title">
        Estoy infectado
      </div>
      <div class="subtitle">
        Fui testeado positivo
      </div>
    </div>
  </div>
  <div class="status-element green" button (click)="setStatus('recovered','/map')">
    <div class="image">
      <img src="assets/images/recovered.png">
    </div>
    <div class="text-element">
      <div class="title">
        Me recuperé
      </div>
      <div class="subtitle">
        Ya fui tratado con éxito.
      </div>
    </div>
  </div>
</ion-content>
