<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-right: 48px;">
        <ion-img style="height: 40px;" src="assets/icon/LOGO_.svg"></ion-img>
    </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <div class="pin-container">
    <ion-img style="height: 40px;" src="assets/images/pin.svg"></ion-img>
  </div>
</ion-content>
<ion-footer>
  <div class="element">
    <div class="title-element">
      {{apiService.addressSignup}}
    </div>
    <button [disabled]="apiService.addressSignup == 'Cargando dirección...'" class="btn-container-signup" routerLink="/signin" routerDierction="backward">
      <div class="btn">
        Confrmar ubicación
      </div>
    </button>
  </div>
</ion-footer>