<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <ion-img style="height: 40px;margin: 40px;" src="assets/icon/LOGO_.svg"></ion-img>
      <div class="menu-container">
        <div class="user-info">
          <div class="user-name">{{getName()}}</div>
          <div class="user-identity">{{getIdentity()}}</div>
          <div class="user-status {{getStatusColor()}}" button routerLink="/user-status"  (click)="menu.close('first')">
            <div class="user-status-text">{{getStatusText()}}</div>
          </div>
        </div>
        <div class="menu-list">
          <div class="menu-item" button routerLink="/user-status" (click)="menu.close('first')">
            Reportar
          </div>
          <!-- <div class="menu-item">
            Con quien has estado
          </div> -->
          <div class="menu-item"  button routerLink="/recommendations" (click)="menu.close('first')">
            Recomendaciones
          </div>
          <div class="menu-item" button routerLink="/communique" (click)="menu.close('first')">
            Comunicados          </div>
          <div class="menu-item" button (click)="logout()">
            Cerrar sesion
          </div>
          
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
